profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
         withName: 'ASSEMBLY_STATS|ASSIGN_BEST_REFERENCE|EXTRACT_BEST_CONTIG_PER_REFERENCE|NUCMER_FROM_BEST_CONTIGS|DELTA_FROM_BEST_CONTIGS|FINAL_REPORT' {
               conda = "${baseDir}/conda_environments/evaluation.yml"
         }
	 
      }

   }

}
